<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easymech">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Mechanic_Profile_Options"></activity>
        <activity android:name=".Services_LIsts" />
        <activity android:name=".Batteriesss" />
        <activity android:name=".Paint_Denting" />
        <activity android:name=".Engine_Transmisson" />
        <activity android:name=".Wheel_Tires" />
        <activity android:name=".Oil_Lube_Filter" />
        <activity android:name=".Mechanics_Services" />
        <activity android:name=".MainMenu_View" />
        <activity android:name=".Mobile_OTP" />
        <activity android:name=".Sign_up_activity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>